[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pytest-django = "*"
model-mommy = "*"
whitenoise = "*"

[packages]
django = "*"
pytest-cov = "*"
gunicorn = "*"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"
django-s3-folder-storage = "*"
collectfast = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
sentry-sdk = "*"
pytest = "*"
django-ordered-model = "*"
ipython = "*"
django-extensions = "*"
heroku3 = "*"
boto3 = "*"
django-heroku = "*"

[requires]
python_version = "3.9"
